<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
  href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap"
  rel="stylesheet"
/>

<div class="main-body">
  <ul nz-menu nzTheme="dark" nzMode="horizontal" class="mainMenu">
    <li
      nz-typography
      nz-menu-item
      routerLink="/Hero-Bio"
      routerLinkActive="active"
      id="hero-bio"
    >
      Hero Bio
    </li>
    <li nz-typography nz-menu-item routerLink="/Home" routerLinkActive="active">
      Home
    </li>
    <li
      nz-typography
      nz-menu-item
      routerLink="/Compare/"
      routerLinkActive="active"
    >
      Compare
    </li>
  </ul>

  <nz-content class="mainContent">
    <router-outlet></router-outlet>
  </nz-content>

  <nz-footer class="footer">Ant Design ©2020 Implement By Angular</nz-footer>
</div>
